<div> 
    count is :- 
    {{count}}
    <!-- <p>count is : {{count}}</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> 
        <div>
            <label>userName</label>
            <input type="text" formControlName="userName" name="username">
        </div>
        <p>{{(loginForm.controls.userName.touched && loginForm.controls.userName.errors?.required) ? 'enter userName' : ''}}</p>
        <p>{{loginForm.controls.userName.errors | json}}</p>
        <div>
            <label>password</label>
            <input type="password" formControlName="password" name="password">
        </div>
        <p>{{(loginForm.controls.password.touched && loginForm.controls.password.errors?.required) ? 'enter password' : ''}}</p>
        <button type="submit" [disabled]="loginForm.invalid">login</button>
        <button type="button" (click)="resetForm()">reset</button>
        <button type="button" (click)="updateForm()">update</button>
    </form> -->
    <!-- <button (click)="fire()">fire event</button> -->
</div>